.bounding-box {
	position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.font-size {
	font-size: 2rem;
}

@media only screen and (max-width: 500Px) {
	.font-size {
		font-size: 1.1rem;
	}
}